@font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins Regular";
}

/* NavBar*/
nav {
    min-height: 60px;
    width: 100%;
    color: #fff;
    background: #197278;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    position: relative;
}