<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script defer src="../static/js/index.js"></script>
</head>
<body>
    <header>
        <nav class="navBar">
            <div class="navBarItem">
                <label>Usuario</label>
                <input class="form-control" type="text" placeholder="Usuario">
            </div>
            <div class="navBarItem">
                <label>Contraseña</label>
                <input class="form-control" type="password" placeholder="Contraseña">
            </div>
            <div class="navBarItem">
                <a href="/recoverPassword">¿Ha olvidado la contraseña?</a>
            </div>
            <button class="btn btn-primary" type="submit">Ingresar</button>
        </nav>
    </header>
</body>
</html>