{% extends 'template_base.html' %}

{% block title %}Demo{% endblock %}

{% block content %}
    <nav class="navBar">
        <div class="navBarItem">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {{ messages[0] }}
            {% endif %}
            {% endwith %}
        </div>
        <form action="/login" method="post">
            {{ form.hidden_tag() }}
            <div class="navBarItem">
                {{ form.username.label }}
                {{ form.username(placeholder="Ingrese su rut") }}
            </div>
            <div class="navBarItem">
                {{ form.password.label }}
                {{ form.password(placeholder="Ingrese su contraseña") }}
            </div>
            <div class="navBarItem">
                <a href="#">¿Ha olvidado la contraseña?</a>
            </div>
            {{ form.submit(class="btn") }}
        </form>
    </nav>
{% endblock %}