{% extends 'template_base.html' %}

{% block title %}Visión General{% endblock %}

{% block content %}

<nav>
    <h4><a href="/dashboard">Inicio</a></h4>
    <ul>
        <li><a href="/logout">Cerrar sesión</a></li>
    </ul>
</nav>

<div class="container">
    <table class="content-table">
        <thead>
            <tr>
                <th>Humedad</th>
                <th>Temperatura</th>
                <th>CO2</th>
            </tr>
        </thead>
        <tbody id="overview-data"></tbody>
    </table>
</div>

<script defer src="../static/js/overview.js"></script>
{% endblock %}