{% extends 'template_base.html' %}

{% block title %}Demo{% endblock %}

{% block content %} 

    <!--
    <h1>Bienvenido, {{ current_user.Name }}</h1>

    <a href="/logout">Cerrar sesión</a>-->

    <div class="container">

        <input type="radio" name="dot" id="one">
        <input type="radio" name="dot" id="two">

        <div class="main-card">
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../static/img/1.jpeg" alt="">
                        </div>
                        <div class="details">
                            <div class="title">User settings</div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../static/img/1.jpeg" alt="">
                        </div>
                        <div class="details">
                            <div class="title">Overview</div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../static/img/1.jpeg" alt="">
                        </div>
                        <div class="details">
                            <div class="title">Service Panel</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../static/img/1.jpeg" alt="">
                        </div>
                        <div class="details">
                            <div class="title">User settings</div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../static/img/1.jpeg" alt="">
                        </div>
                        <div class="details">
                            <div class="title">Overview</div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../static/img/1.jpeg" alt="">
                        </div>
                        <div class="details">
                            <div class="title">Service Panel</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <label for="one" class="one active"></label>
            <label for="two" class="two"></label>
        </div>
    </div>

{% endblock %}