{% extends 'template_base.html' %}

{% block title %}Demo{% endblock %}

{% block content %} 

    <h1>Bienvenido, {{ current_user.Name }}</h1>

    <a href="/logout">Cerrar sesión</a>

    {% if current_user.Type=="User" %}
        <h1>Usuario común</h1>
        <div class="container" style="width: 500px;">
            <canvas id="myChart" width="100" height="100"></canvas>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
        <script src="../static/js/temperatura_promedio.js"></script>
    {% elif current_user.Type=="" %}
        <h1>Administrador</h1>
    {% endif %}

{% endblock %}