{% extends 'template_base.html' %}

{% block title %}Demo{% endblock %}

{% block content %} 

    <nav>
        <h4>Welcome, {{ current_user.Name }}!</h4>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="cards-container">

            <input type="radio" name="dot" id="one">
            <input type="radio" name="dot" id="two">
    
            <div class="main-card">
                <div class="cards">
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="../static/img/profile.svg" alt="">
                            </div>
                            <div class="details">
                                <div class="title">User settings</div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="../static/img/overview.svg" alt="">
                            </div>
                            <div class="details">
                                <div class="title">Overview</div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="../static/img/service-panel.svg" alt="">
                            </div>
                            <div class="details">
                                <div class="title">Service Panel</div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="cards">
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="../static/img/1.svg" alt="">
                            </div>
                            <div class="details">
                                <div class="title">User settings</div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="../static/img/1.svg" alt="">
                            </div>
                            <div class="details">
                                <div class="title">Overview</div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card">
                        <div class="content">
                            <div class="img">
                                <img src="../static/img/1.svg" alt="">
                            </div>
                            <div class="details">
                                <div class="title">Eliminar base de datos</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button">
                <label for="one" class="one active"></label>
                <label for="two" class="two"></label>
            </div>
        </div>
    </div>


{% endblock %}