{% extends 'template_base.html' %}

{% block title %}Registrar{% endblock %}

{% block content %}

    <span class="back"><a href="/">&crarr; Regresar</a></span>

    <section class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}. Ve a <a href="{{ url_for('root.index') }}">iniciar sesión</a>
            </div>
        {% endif %}
        {% endwith %}
        <form action="/register" method="post">
            {{ form.hidden_tag() }}
            <div class="input-group">
                {{ form.name(class="input") }}
                <label for="name" class="input-label">Ingrese su nombre</label>
            </div>
            <div class="input-group">
                {{ form.password(class="input") }}
                <label for="password" class="input-label">Ingrese una contraseña</label>
            </div>
            <div class="input-group">
                {{ form.rut(class="input") }}
                <label for="Rut" class="input-label">Ingrese su rut</label>
            </div>
            <div class="input-group">
                {{ form.email(class="input") }}
                <label for="email" class="input-label">Ingrese su correo</label>
            </div>
            <div class="input-group">
                {{ form.type_user(class="input") }}
                <label for="user_rol" class="input-label">Seleccione un rol</label>
            </div>
            <button type="submit" class="btn-p one">
                <span>Registrar</span>
            </button>
        </form>
    </section>
{% endblock %}