{% extends 'template_base.html' %}

{% block title %}Registrar{% endblock %}

{% block content %}
    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}. Ve a <a href="{{ url_for('root.index') }}">iniciar sesión</a>
            </div>
        {% endif %}
        {% endwith %}
        <form action="/register" method="post">
            {{ form.hidden_tag() }}
            <div class="formItem">
                {{ form.name(placeholder="Ingrese su nombre") }}
            </div>
            <div class="formItem">
                {{ form.password(placeholder="****") }}
            </div>
            <div class="formItem">
                {{ form.rut(placeholder="Ingrese su rut") }}
            </div>
            <div class="formItem">
                {{ form.email(placeholder="Ingrese su correo") }}
            </div>
            <div class="formItem">
                {{ form.type_user }}
            </div>
            {{ form.submit() }}
        </form>
    </section>
{% endblock %}